## Лабораторная работа № 4

Сафронова Мария

Группа Т12О-101М

#### Импортировать модули sys numpy pandas

In [3]:
import sys
import numpy as np
import pandas as pd

#### Создать объект pandas Series из листа, объекта NumPy, и словаря

In [16]:
pd.Series(list('qwerty'))

0    q
1    w
2    e
3    r
4    t
5    y
dtype: object

In [17]:
pd.Series(np.arange(5))

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [20]:
pd.Series({'one': '1', 'two': '2'})

one    1
two    2
dtype: object

#### Преобразовать объект Series в DataFrame

In [24]:
pd.Series({'a': 1, 'b': 2, 'c': 3}).to_frame()

   0
a  1
b  2
c  3

#### создать объект Series

In [8]:
s = pd.Series(np.arange(5))
print(s)

0    0
1    1
2    2
3    3
4    4
dtype: int32

#### преобразовать в DataFrame

In [9]:
s.to_frame()

   0
0  0
1  1
2  2
3  3
4  4

#### объединить несколько объектов Series в Dataframe

In [12]:
s1 = pd.Series(list('abcd'))
s2 = pd.Series(np.arange(4))
 
df2 = pd.DataFrame({'first': s1, 'second': s2})
print(df2)

  first  second
0     a       0
1     b       1
2     c       2
3     d       3

#### Присвоить имя индексу объекта Series

In [34]:
s = pd.Series(np.arange(5))
s = s.rename(index = 'my')
s

0    0
1    1
2    2
3    3
4    4
Name: my, dtype: int32

#### Получить элементы объекта Series A, которых нет в объекте Series B

In [35]:
A = pd.Series(np.arange(12))
B = pd.Series(np.arange(10))

#### возвратить вместе с индексами

In [36]:
A[~A.isin(B)]

10    10
11    11
dtype: int32

#### возвратить значения

In [37]:
A[~A.isin(B)].values

array([10, 11])

#### Получить не пересекающиеся элементы в двух объектах Series

In [43]:
A = pd.Series([1, 2, 3, 4, 5, 6])
B = pd.Series([1, 2, 3, 7, 8, 9])

#### возвратить вместе с индексами

In [44]:
pd.concat([A[~A.isin(B)], B[~B.isin(A)]])

3    4
4    5
5    6
3    7
4    8
5    9
dtype: int64

#### получить объединенный Series без повтороений

In [45]:
pd.concat([A, B]).drop_duplicates()

0    1
1    2
2    3
3    4
4    5
5    6
3    7
4    8
5    9
dtype: int64

#### получить пересекающиеся данные

In [46]:
pd.concat([ A[A.isin(B)], B[B.isin(A)] ])

0    1
1    2
2    3
0    1
1    2
2    3
dtype: int64

#### отобрать все данные, кроме пересекающихся
#### возвратить значения

In [47]:
pd.concat([A[~A.isin(B)], B[~B.isin(A)]])

3    4
4    5
5    6
3    7
4    8
5    9
dtype: int64