## Лабораторная работа № 5

Сафронова Мария

Группа Т12О-101М

In [3]:
import numpy as np
import pandas as pd

#### Получить от объекта Series показатели описательной статистики

In [3]:
pd.Series(np.arange(5)).describe()

count    5.000000
mean     2.000000
std      1.581139
min      0.000000
25%      1.000000
50%      2.000000
75%      3.000000
max      4.000000
dtype: float64

#### Узнать частоту уникальных элементов объекта Series (гистограмма)

In [11]:
arr = np.random.randint(0,3,size=5)
print(arr)
pd.Series(arr).value_counts()

[2 2 2 1 2]

2    4
1    1
dtype: int64

#### Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

In [23]:
s = pd.Series(np.random.randint(1, 5, size=[10]))
print(s)
#s[s.isin(s.value_counts().index[:2])] = 'Other'
print(s.value_counts())
print(s.value_counts().index[:2])
s[~s.isin(s.value_counts().index[:2])] = 'Other'
s

0    3
1    4
2    1
3    2
4    2
5    4
6    2
7    1
8    3
9    1
dtype: int32
2    3
1    3
4    2
3    2
dtype: int64
Int64Index([2, 1], dtype='int64')

0    Other
1    Other
2        1
3        2
4        2
5    Other
6        2
7        1
8    Other
9        1
dtype: object

#### Создать объект Series в индексах дата каждый день 2019 года, в значениях случайное значение

In [34]:
date = pd.date_range(start='2019-01-01', end='2019-12-31', freq='D') 
s = pd.Series(np.random.rand(len(date)), index=date)
s

2019-01-01    0.299816
2019-01-02    0.390592
2019-01-03    0.081804
2019-01-04    0.190475
2019-01-05    0.305442
                ...
2019-12-27    0.884226
2019-12-28    0.632032
2019-12-29    0.868597
2019-12-30    0.068409
2019-12-31    0.167151
Freq: D, Length: 365, dtype: float64

#### Найти сумму всех вторников

In [6]:
s[s.index.weekday == 2].sum()

26.729166150817438

#### Для каждого месяца найти среднее значение

In [7]:
s.resample('M').mean()

2019-01-31    0.526530
2019-02-28    0.473703
2019-03-31    0.554920
2019-04-30    0.519307
2019-05-31    0.594705
2019-06-30    0.568232
2019-07-31    0.550921
2019-08-31    0.539961
2019-09-30    0.483410
2019-10-31    0.424263
2019-11-30    0.536694
2019-12-31    0.576983
Freq: M, dtype: float64

#### Преобразовать объект Series в DataFrame заданной формы (shape)

In [5]:
shape = (5, 5)

s = pd.Series(np.random.randint(1, 5, size=[25])) 
 
pd.DataFrame(s.values.reshape(shape))

   0  1  2  3  4
0  1  4  4  4  2
1  3  3  2  2  2
2  4  2  2  4  3
3  4  1  3  3  4
4  3  4  4  2  1

#### Найти индексы объекта Series кратные 3

In [7]:
s = pd.Series(np.random.randint(1, 10, size=[9]))
print(s)
s[s % 3 == 0].index

0    7
1    2
2    7
3    9
4    5
5    1
6    4
7    9
8    8
dtype: int32

Int64Index([3, 7], dtype='int64')

#### Получить данные по индексам объекта Series

In [12]:
s = pd.Series(list('qwerty'))
p = [0, 2, 4]
s[p]

0    q
2    e
4    t
dtype: object

#### Объединить два объекта Series вертикально и горизонтально

In [14]:
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))
 
print(s1.append(s2))
print(pd.concat([s1, s2], axis=1))

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### Получить индексы объекта Series A, данные которых содержатся в объетке Series B

In [17]:
A = pd.Series([1, 2, 3, 9, 8, 7])
B = pd.Series([1, 4, 5, 7])
 
A[A.isin(B)].index

Int64Index([0, 5], dtype='int64')

#### Получить объект Series B, котоырй содержит элементы без повторений объекта A

In [20]:
s = pd.Series(np.random.randint(1, 5, size=[10]))

pd.Series(s.unique())

0    3
1    1
2    2
3    4
dtype: int64

#### Преобразовать каждый символ объекта Series в верхний регистр

In [21]:
s = pd.Series(list('qwerty'))  
pd.Series(i.title() for i in s)

0    Q
1    W
2    E
3    R
4    T
5    Y
dtype: object

#### Рассчитать количество символов в объекте Series

In [24]:
s = pd.Series(['one', 'two', 'three'])

np.asarray([len(i) for i in s])

array([3, 3, 5])

#### Найти разность между объектом Series и смещением объекта Series на n

In [28]:
n = 1
 
s = pd.Series([1, 2, 4, 7])
print(s)
s.diff(periods=n)

0    1
1    2
2    4
3    7
dtype: int64

0    NaN
1    1.0
2    2.0
3    3.0
dtype: float64

#### Преобразовать разные форматы строк объекта Series в дату

In [30]:
s = pd.Series(['2020/11/01', '2020-11-02', '03 Nov 2020']) 
pd.to_datetime(s)

0   2020-11-01
1   2020-11-02
2   2020-11-03
dtype: datetime64[ns]

#### Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)

In [36]:
s = pd.Series(['2020/11/01', '2020-11-02', '03 Nov 2020'])
s = pd.to_datetime(s) 
s.dt.year, s.dt.month, s.dt.day, s.dt.weekofyear, s.dt.dayofyear

(0    2020
 1    2020
 2    2020
 dtype: int64, 0    11
 1    11
 2    11
 dtype: int64, 0    1
 1    2
 2    3
 dtype: int64, 0    44
 1    45
 2    45
 dtype: int64, 0    306
 1    307
 2    308
 dtype: int64)

#### Отобрать элементы объекта Series, кторые содержат не менее двух гласных

In [37]:
from collections import Counter
 
s = pd.Series(['hello', 'world', 'python', 'pool'])
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiouа')]) >= 2)
s[mask]

0    hello
3     pool
dtype: object

#### Отобрать e-маилы из объекта Series (можно юзать регулярки)

In [39]:
import re
 
emails = pd.Series(['email @mail.ru', 'email@mail.ru', 'email.2ru', 'emailt@mail'])
reg = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(reg, x)))

emails[mask]

1    email@mail.ru
dtype: object

#### Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

In [41]:
n = 5
s1 = pd.Series(np.random.choice(['hello', 'my', 'world'], n))
print(s1)
s2 = pd.Series(np.linspace(1,n,n))

s2.groupby(s1).mean()

0       my
1    hello
2    hello
3    world
4    hello
dtype: object

hello    3.333333
my       1.000000
world    4.000000
dtype: float64